{:name "ui-leaflet"
 :clj-require []
 :cljs-namespace [pinkgorilla.leaflet.goldly]
 :cljs-bindings {}
 :cljs-ns-bindings {}
 :theme {:available  {:leaflet {true ["leaflet/dist/leaflet.css"]}}
         :current {:leaflet true}}
 :snippets [; leaflet
            {:type :pinkie
             :category :leaflet
             :id :leaflet-simpel
             :filename "snippets/leaflet/leaflet_simpel.edn"}
            {:type  :goldly-clj
             :category :leaflet
             :id :leaflet-london
             :filename "snippets/leaflet/leaflet_london.clj"}
            {:type  :goldly-clj
             :category :leaflet
             :id :leaflet-iss-realtime
             :filename "snippets/leaflet/leaflet_iss_realtime.clj"}
            {:type :goldly-clj
             :category :leaflet
             :id :leaflet-holiday
             :filename "snippets/leaflet/holiday.clj"}]
 ; modules and pinkie not yet via loader
 :pinkie {}
 :modules {}}