{:name "ui-leaflet"
 :clj-require []
 :theme {:available  {:leaflet {true ["leaflet/dist/leaflet.css"]}}
         :current    {:leaflet true}}
 :cljs-namespace [pinkgorilla.leaflet.leaflet]
 :cljs-bindings {'leaflet pinkgorilla.leaflet.leaflet/leaflet-map}
 :cljs-ns-bindings {}
 :pinkie {:p/leaflet pinkgorilla.leaflet.leaflet/leaflet-map}
 :lazy true
 :snippets [; leaflet
            {:type :pinkie
             :category :leaflet
             :id :leaflet-simpel
             :filename "snippets/leaflet/simpel.edn"}
            {:type  :goldly-clj
             :category :leaflet
             :id :leaflet-london
             :filename "snippets/leaflet/london.clj"}
            {:type :goldly-clj
             :category :leaflet
             :id :leaflet-holiday
             :filename "snippets/leaflet/holiday.clj"}]}