{:name "ui-leaflet"
 ; build
 :lazy true
 :cljs-namespace [pinkgorilla.leaflet.leaflet]
 :cljs-bindings {'leaflet pinkgorilla.leaflet.leaflet/leaflet-map2}
 :cljs-ns-bindings {}
 ; theme
 :theme {:available  {:leaflet {true ["leaflet/dist/leaflet.css"]}}
        :current    {:leaflet true}}
 ; run
 :clj-require []}