{:name "ui-leaflet"
 ; build
 :lazy-sci true
 :cljs-namespace [ui.leaflet]
 :cljs-ns-bindings {'ui.leaflet {'leaflet ui.leaflet/leaflet-map2}}
 ; theme
 :theme {:available  {:leaflet {true ["leaflet/dist/leaflet.css"]}}
         :current    {:leaflet true}}}
